/*  Manual de marca:
        paleta de colores:
                Negro #121212
                Gris #2E2E2E
                Rojo  #E63946
                Blanco #FFFFFF
        Tipografia:
            Titulares: Oswald
            general: Roboto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: #2E2E2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2%;
}

    header img{
        width: 16%;
        height: 100%;
    }

    header form{
        display: flex;
        justify-content: center;
        width: 20%;
        height: 50%; /*NO FUNCIONA, no se porque pero no renta nada poner px porq despues se rompe en responsive*/
    }

        header form input{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: none;
            width: 75%;
            height: 100%;
        }

        header form button{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: none;
            background-color: #E63946;
            color: #ffffff;
            width: 25%;
            height: 100%;
        }

    header nav{
        width: 100%;
        max-width: 16%;
    }

        header nav ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        header nav ul li a{
            color: white;
        }
    
        #buscar_input{
            padding: 5px;
        }

        #buscar_boton{
            padding: 5px;
        }

.body2{
    background-color: #2E2E2E;
}
.contenedor1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    border-radius: 10px;
}



.h111{
    margin: 40px 0;
    font-size: 25px;
}

.texto2{
    color: black;
}

#recordarme{
    display: flex;
    justify-content: flex-end;
}

.article22{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#email{
    margin-top: 5px;
    width: 100%;
    padding: 5px;
}

#contraseña{
    margin-top: 5px;
    width: 100%;
    padding: 5px;
}

.texto3{
    color: red;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;
}

#recordarme{
    margin-bottom: 20px;
    width: 100%;
}

#ingresar{
    width: 35%;
    padding: 10px;
    background-color: #1D74BF;
    border: 0;
    color: white;
    border-radius: 10px;
}

.article33{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}