/*  Manual de marca:
        paleta de colores:
                Negro #121212
                Gris #2E2E2E
                Rojo  #E63946
                Blanco #FFFFFF
        Tipografia:
            Titulares: Oswald
            general: Roboto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1{
    font-family: "Oswald", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2%;
}
    header a {
            width: 20%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
        }
        
        header a h1{
            color: #E63946;
            width: 50%;
        }

        header a img{
            width: 40%;
        }

    header form{
        display: flex;
        justify-content: center;
        width: 20%;
    }

        header form input{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: none;
            width: 75%;
            padding: 2%;
        }

        header form button{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: none;
            background-color: #E63946;
            color: #ffffff;
            width: 25%;
            padding: 2%;
            font-size: 1.2vw;
        }


    header nav{
        width: 100%;
        max-width: 200px;
    }

        header nav ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        header nav ul li a{
            color: white;
        } 

        header nav ul li p{
            color: white;
        }

    .saludo{
        display: none;
        color: #ffffff;
        font-size: 1.8vw;
    }
    .saludo span{
        color: #E63946;
    }
    
    .li-logout{
        display: none;
    }



        
/*INDEX*/

.main-index{
    background-color: #121212;
    display: flex;
}

.barra-lateral{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    min-width: 220px;
    padding: 15px;
    color: #ffffff;
    gap: 20px;
}
    .barra-lateral ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .barra-lateral a{
        color: #ffffff;
    }
    
    .barra-lateral h2{
        color: #E63946;
    }

.principal{
    padding: 3%;
    display: flex;
    flex-direction: column;

}
    .principal h1{
        color: #ffffff;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
    
    }
        .container article{
            background-color: #2E2E2E;
            color: #ffffff;
            margin: 15px 0px;
            width: 360px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            font-family: "Roboto", sans-serif;
            padding-bottom: 15px;
        }
            .container article img{
                height: 270px;
                width: 100%;
            }
            .container article div{
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
            }
                .container article div button{
                    color: #ffffff;
                    background-color: #E63946;
                    align-self: flex-start;
                    width: 75px;
                    height: 30px;
                    border: 0px;
                }

footer{
    padding: 10px;
    background-color: #E63946;
    color: #ffffff;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
    footer p{
        font-family: "Roboto", sans-serif;
        font-size: 1.2vw;
    }





/*LOGIN*/



.bodyLogin{
    background-image: url("../img/Fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        }

    .mainLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        margin: 100px 0px;
    

    }

        .divlog2{
            background: rgba(0, 0, 0, 0.8); 
            padding: 40px;
            border-radius: 15px;
            width: 350px;
            text-align: center;
            color: white;
            
        }

            .divlog2 .logo{
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 20px;
                color: #E63946; 
                letter-spacing: 2px;
                font-family: "Oswald", sans-serif;
            }

            .divlog2 input{
                width: 100%;
                padding: 12px;
                margin: 10px 0;
            
                border-radius: 8px;
                font-size: 14px;
            }

            .divlog2 button {
                width: 100%;
                padding: 12px;
                margin-top: 15px;
                border: none;
                border-radius: 8px;
                background-color: #E63946;
                color: white;
                font-size: 16px;
                font-weight: bold;
            }

            .options {
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                font-size: 14px;
                margin-top: 10px;
                width: 100%;
                padding-left: 2%;
            }

            .options label{
                display: flex;
                align-items: center;
                gap: 2px;
            }

            .terminos{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                font-size: 14px;
            }

            #condiciones{
                width: 15%;
            }
.footer-login{
    padding: 10px;
    background-color: #E63946;
    color: #ffffff;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
    .footer-login p{
        font-family: "Roboto", sans-serif;
        font-size: 1.2vw;
    }

            .formLogin a{
                color: #E63946;
                text-decoration: underline;
            }







/*REGISTER*/

#ya_tengo{
    margin-top: 10px;
}

#tengo{
    text-decoration: underline;
    color: #E63946;
}

.divlog2 h1{
    margin-bottom: 10px;
}






/* DETALLE DEL PRODUCTO*/

a{
    color: #ffffff;
    text-decoration: none;
}

.imagen{
    width: 100%;
    margin-top: 10px;
    height: 900px;

}

.main-index2{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.barra-lateral2{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 15px;
    color: #ffffff;
    gap: 20px;
}
    .barra-lateral2 ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.4vw;
    }
    .barra-lateral2 a{
        color: #ffffff;
    }
    
    .barra-lateral2 h2{
        color: #E63946;
        font-size: 1.7vw;
    }

.principal2{
    padding: 3%;
    display: flex;
    flex-direction: column;
    width: 100%

}
    .principal2 h1{
        color: #ffffff;
    }
    .principal2 article p{
        color: white;
        width: 100%;
    }

.tags{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
    .tags ol{
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }
    .tags ol li{
        color: #ffffff;
        display: flex;
        background-color: #E63946;
        padding: 5px;
        border-radius: 7px;
        align-items: center;
        height: 100%;
    }

    .tags div{
        display: flex;
        justify-content: flex-end;
        background-color: #E63946;
        color: #ffffff;
        padding: 3px 7px;
        border-radius: 7px;
        height: 100%;
        align-items: center;
    }
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

    .stats article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: #2E2E2E;
        border-radius: 30px;
    }
        .stats article img{
            width: 60%;
        }
        .stats article p{
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }

.reseñas{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
    .reseñas article{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #2E2E2E;
        width: 47%;
        padding: 25px;
        border-radius: 30px;
    }

    .usuario{
        font-size: 30px;
    }


@media (max-width: 768px) {
    
    header a {
        width: 25%;
    }
    header a img {
        width: 40%;
    }
    header a h1{
        font-size: 2.6vw;
        width: auto;
    }
    header form{
        width: 20%;
    }
        header form input{
            height: 3vw;
        }
        header form button{
            height: 3vw;
        }
    header nav{
        width: 23%;
    }
        header nav ul li{
            font-size: 2vw;
        }
    #buscar_boton p{
        font-size: 0.8vw;
    }
    .barra-lateral{
        min-width: 20%;
    }
        .barra-lateral ul{
            font-size: 1.7vw;
        }
        .barra-lateral h2{
            font-size: 2.5vw;
        }
    .container article{
        width: 240px;
    }
        .container article img{
            height: 50%;
        }
        .container article p{
            font-size: 10px;
            padding-right: 5px;
        }
    .divlog2{
        width: 310px;
    }
    .principal2 article p{
        font-size: 10px;
    }
    .tags ol{
        width: 150px;
        margin-right: 1%;
    }
        .tags ol li{
            font-size: 8px;
        }
        .tags div p{
            font-size: 8px;
        }
    .stats{
    margin: 30px 0;
    }

    .stats article{
        width: 30%;
        height: 150px;
    }
        .stats article img{
            width: 60%;
        }
        .stats article p{
            margin-top: 15px;
        }

    .reseñas{
        gap: 10px;
        flex-wrap: wrap;
    }
        .reseñas article{
            margin-top: 10px;
            gap: 5px;
            width: 100%;
            padding: 20px;
        }

            .reseñas article img{
                width: 40%;
            }
}


@media (max-width: 320px){
        header a{
            width: 20%;
        }
        header a img{
            width: 80%;
        }
        header a h1{
            display: none;
            
        }
        header form{
            width: 30%;
        }
        header form input{
            font-size: 7px;
            height: 10px;
        }
        header form button{
            font-size: 5px;
            height: 10px;
        }
        header nav{
            width: 25%;
        }
        header li a{
            font-size: 3vw;
        }
        #li-home{
            display: none;
        }
    .main-index{
        flex-direction: column;
    }
    .barra-lateral{
       width: 100%;
    }
    .barra-lateral h2{
        display: none;
    }
    .barra-lateral li{
        font-size: 6vw;
    }
    .barra-lateral ul{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .container{
        padding-left: 10px;
        padding-top: 10px;
    }
        .container article{
            width: 80%;
        }
            .container article h3{
                font-size: 15px;
            }
            .container article a button{
                width: 40%;
                font-size: 3vw;
            }
            .container article p{
                font-size: 7px;
            }

    footer p{
        font-size: 10px;
    }
    .footer-login p{
        font-size: 10px;
    }
    .main-index2{
    flex-direction: column;
    }
    .barra-lateral2{
    width: 100%;
    }
        .barra-lateral2 ul{
            flex-direction: row;
            font-size: 10px;
            flex-wrap: wrap;
        }
        .barra-lateral2 h2{
            display: none;
        }
        .barra-lateral2 li{
            font-size: 4vw;
        }
    .tags{
        flex-wrap: wrap;
    }
        .tags ol{
            width: 50%;
            margin-right: 0;
            flex-wrap: wrap;
            justify-content: space-between;
        }
            .tags ol li{
                font-size: 6px;
            }
            .tags div p{
                font-size: 6px;
                padding: 2px;
    
            }
        .tags div{
            height: 100%;
        }
    .reseñas article p{
        font-size: 2.5vw;
    }
    .principal2 h1{
        font-size: 20vw;
    }
    .principal2 article p{
        font-size: 7px;
    }
    .stats{
        flex-wrap: wrap;
        margin: 0;
    }
        .stats article{
            width: 50px;
            margin-top: 10px;
            height: 100px;
        }
            .stats article p{
                margin-top: 10px;
                font-size: 3vw;
            }
    .principal h1{
        font-size: 10vw;
    }
    .divlog2{
        width: 100%;   
    }
        .divlog2 .logo{
            font-size: 8vw;
        }
        .divlog2 input{
            margin: 10px 0;
        }
        .divlog2 h2{
            font-size: 7vw;
        }

        .divlog2 button {
            width: 100%;
            font-size: 16px;
        }

        .options {
            display: flex;
            flex-direction: row;
            width: 20%;
        }
            .options label{
                display: flex;
                flex-direction: row;
                font-size: 4vw;
            }
        .divlog2 button{
                font-size: 4vw;
            }

    .terminos{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 14px;
    }

    #condiciones{
        width: 100%;
    }
}   
