/*  Manual de marca:
        paleta de colores:
                Negro #121212
                Gris #2E2E2E
                Rojo  #E63946
                Blanco #FFFFFF
        Tipografia:
            Titulares: Oswald
            general: Roboto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: #2E2E2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2%;
}

    header img{
        width: 16%;
        height: 100%;
    }

    header form{
        display: flex;
        justify-content: center;
        width: 20%;
    }

        header form input{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: none;
            width: 75%;
            padding: 5px;
        }

        header form button{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: none;
            background-color: #E63946;
            color: #ffffff;
            width: 25%;
            padding: 5px;
        }

    header nav{
        width: 100%;
        max-width: 16%;
    }

        header nav ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        header nav ul li a{
            color: white;
        } 
/*LOGIN*/
.bodyLogin{
    background-image: url("../materiales/imagenes/bmw-m2-nfs-raining-4k-ww.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        }

    .mainLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        margin: 100px 0px;
    

    }

        .divlog2{
            background: rgba(0, 0, 0, 0.8); 
            padding: 40px;
            border-radius: 15px;
            width: 350px;
            text-align: center;
            color: white;
            
        }

            .divlog2 .logo{
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 20px;
                color: #E63946; 
                letter-spacing: 2px;
                font-family: "Oswald", sans-serif;
            }

            .divlog2 input{
                width: 100%;
                padding: 12px;
                margin: 10px 0;
            
                border-radius: 8px;
                font-size: 14px;
            }

            .divlog2 button {
                width: 100%;
                padding: 12px;
                margin-top: 15px;
                border: none;
                border-radius: 8px;
                background-color: #E63946;
                color: white;
                font-size: 16px;
                font-weight: bold;
            }

            .divlog2 .options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                margin-top: 10px;
            }